name: My First GitHub Selfhoster Runner

on: [push]

jobs:
    build:
    runs-on: [self-hosted, windows, x64, gpu]

      steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        
    - name: Run tests
      run: |
        cd src
        python addition.py
